<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h1>Kakao Login Test</h1>
<span th:if="${userId==null}">
		<a href="https://kauth.kakao.com/oauth/authorize?client_id=f784a80aaf1b8711ed87342e69f2ab2c&redirect_uri=http://localhost:8080/login&response_type=code">
			<img src = "img/kakao_login_medium_narrow.png">
		</a>
	</span>

<!--
	여기에 새로운 버튼을 만들자

	현재 회원님의 소속 밴드는 ~~이고,
	세션은 ~~입니다.

	밴드원-> 밴드 회원 목록을 볼 수 있게
	밴드장-> 추가 기능을 할 수 있음





-->




<span th:if="${userId!=null}">
		<form name="logout" action="http://localhost:8080/logout">
			<input type="submit" value="로그아웃">
		</form>
	</span>
</body>
</html>